# Ignore everything in the build directory
build/*

# But do not ignore these directories and files
# Keep the bootloader.bin file
!build/bootloader/
build/bootloader/*
!build/bootloader/bootloader.bin

# Keep the partition-table.bin file
!build/partition_table/
build/partition_table/*
!build/partition_table/partition-table.bin

# Keep the other important binary files
# !build/ota_data_initial.bin
# !build/SP8_ESP32M_v1_7.bin
# !build/storage.bin

# Except .bin files (including those in subdirectories)
!build/*.bin

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
sdkconfig.old

managed_components/
dependencies/
dependencies.lock
ignore-me/

# Ignore the .vscode directory
.vscode/